* {margin:0;padding:0}
body {font-family:Arial;font-size:14px;line-height:20px;color:#000;background: #00838d none repeat scroll 0 0;}
a{text-decoration: none;}

input[type="text"],input[type="password"],input[type="email"] {
    border: 1px solid #ddd;
    width: 245px;
    margin-left: 10px;
    padding: 5px;
    margin-bottom: 10px;
}
input[type="submit"],input[type="reset"]{
    border: 1px solid #ddd;
    padding: 5px 10px;
    float: right;
    margin-left: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.main {width:960px;margin:0 auto;display:block;overflow:hidden;background: brown;}
.header{padding: 30px;}
.header h2{color: #fff;font-size: 40px;text-align: center;}
.menu{background: burlywood;}
.menu ul {margin: 0;padding: 0;}
.menu ul li{display: inline-block;list-style: none;padding: 10px;border-right: 1px solid #ddd;}
.menu ul li a{color: white;font-size: 20px;}
.menu ul li a:hover{}

.maincontent {background: gray;min-height: 500px;}
.login_header {padding: 30px;margin: 0 auto;width: 300px;display: block;text-align: center;}
.login_header h2{color: #fff;font-size: 20px;margin-bottom: 10px;}
.login_header p{color: red;font-size: 20px;}
.login_form {margin: 0 auto;padding: 20px;width: 350px;background: #929291;}

.footer {
    padding: 10px;
    text-align: center;
    color: white;
}
